body {
  background: #333333;
}

.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  height: 100vh;
}

.calculator {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  flex-direction: column;
  padding: 30px;
}
.calculator button {
  flex-grow: 1;
}
.calculator .result {
  height: 50px;
}